# Python 관련 캐시 파일 및 디렉토리
__pycache__/
*.py[cod]
*$py.class

# 환경 설정 파일
.env

# virtual 환경 파일
env/
venv/

# IDE나 텍스트 에디터가 생성하는 파일
.vscode/
.idea/
*.swp
*.swo

# 로그 파일 및 데이터베이스 파일
*.log
*.sqlite3

# 테스트 커버리지 결과
htmlcov/
.tox/
.coverage
.coverage.*
.cache

# 빌드 관련 파일
*.egg-info/
dist/
build/

# Jupyter Notebook 체크포인트 파일
.ipynb_checkpoints/

# 운영체제에서 생성되는 불필요한 파일
.DS_Store
Thumbs.db

# Docker 관련 파일
.dockerignore

# 기타 민감한 파일들
secrets.json

# 기타 사용자 맞춤 설정 파일들
*.bak
*.tmp
